<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Common head view -->
    {{> head}}    
    <!-- Background color -->
    {{!-- <style> body{ background-image:linear-gradient(120deg, #e55d87 11%, #5fc3e4 100%);} </style> --}}
  </head>

  <body>
    
    <!-- Message -->
    {{#if message}}
      {{> message}}
    {{/if}}
    
    <!-- Login -->
    <div class="login_body">
      <div class="container">
        <div class="form_login" id="current_state" state_name="login">
      <!-- Form -->
      <form method="post" action="/login" >
        <!-- Title -->
        <h1>Login</h1>
        <!-- User -->
        <input type="text" id="user" name="user" placeholder="Usuário" required />
        <!-- Password -->
        <input type="password" id="password" placeholder="Senha" name="password" required />
        <br/>
        <!-- Input button -->
        <button type="submit">Entrar</button><br/>
        <!-- Registration link -->
        <a href="/registration">Cadastre-se</a>
      </form>
    </div>
      </div>
    </div>
    
  </body>

</html>