<meta charset="utf-8" />
<link rel="icon" href="https://glitch.com/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>AV2</title>

<!-- Icons -->
<script
  src="https://kit.fontawesome.com/edfaca1bfa.js"
  crossorigin="anonymous"
></script>
<!-- Script -->
<script src="/script.js"></script>
<!-- Styles -->
<link rel="stylesheet" href="/style.css" />