<div class="topnav">
  <a href="/lista" id="topnav_books">Lista</a>
  <a href="/materias" id="topnav_rent">Matérias</a>
  <a href="/home" id="topnav_rent">Admin</a>
  <a href="/" class="sair">
    sair
  </a>
</div>